* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
background-color: #111;
}

.square {
height: 16px;
width: 16px;
background-color: #1d1d1d;
margin: 2px;
box-shadow: 0 0 2px #000;
transition: 2s ease;
}

.square:hover {
transition-duration: 0s;
}

.board {
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
max-width: 400px;
}